USE [master]
GO
/****** Object:  Database [Practice]    Script Date: 05.07.2024 11:11:19 ******/
CREATE DATABASE [Practice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Practice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Practice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practice]
GO
/****** Object:  Table [dbo].[contract]    Script Date: 05.07.2024 11:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract](
	[contract_id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[contract_type] [varchar](50) NOT NULL,
	[manager_id] [int] NOT NULL,
	[created_dt] [date] NOT NULL,
	[tariff_id] [int] NOT NULL,
 CONSTRAINT [PK_contract] PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manager]    Script Date: 05.07.2024 11:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manager](
	[manager_id] [int] NOT NULL,
	[full_name] [varchar](50) NOT NULL,
	[boss] [varchar](50) NOT NULL,
	[city] [text] NOT NULL,
	[departament] [varchar](50) NOT NULL,
 CONSTRAINT [PK_manager] PRIMARY KEY CLUSTERED 
(
	[manager_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tariff]    Script Date: 05.07.2024 11:11:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tariff](
	[tariff_id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[money] [float] NOT NULL,
 CONSTRAINT [PK_tariff] PRIMARY KEY CLUSTERED 
(
	[tariff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[contract]  WITH CHECK ADD  CONSTRAINT [FK_contract_manager] FOREIGN KEY([manager_id])
REFERENCES [dbo].[manager] ([manager_id])
GO
ALTER TABLE [dbo].[contract] CHECK CONSTRAINT [FK_contract_manager]
GO
ALTER TABLE [dbo].[contract]  WITH CHECK ADD  CONSTRAINT [FK_contract_tariff] FOREIGN KEY([tariff_id])
REFERENCES [dbo].[tariff] ([tariff_id])
GO
ALTER TABLE [dbo].[contract] CHECK CONSTRAINT [FK_contract_tariff]
GO
USE [master]
GO
